/*Title settings*/

h1 {
    padding: 10px 30px;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 6px 12px #a7aba9, inset -1px -10px 5px #2a2a29, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 12px #a7aba9, inset -1px -10px 5px #2a2a29, 1px 2px 1px black;
    box-shadow: inset 1px 6px 12px #a7aba9, inset -1px -10px 5px #2a2a29, 1px 2px 1px black;
    background-color: #2a2a29;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 30px
}

#start-button {
    float: left;
    margin: 10px;
    padding: 5px 30px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    background-color: green;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#start-button {
    float: left;
    margin: 10px;
    padding: 5px 30px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    background-color: green;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/*Body and Background settings*/

body {
    background-color: #525151;
    background-image: url("/static/images/large_logo_transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    text-align: center;
}

/*These are the images in the slots*/

.game-library img {
    border-radius: 8px;
    width: 176px;
    height: 236px;

}

/*These are the slots on the game board*/

.game-library {
    cursor: pointer;
    border: 2px solid #464646;
    border-radius: 10px;
    display: inline-block;
    width: 180px;
    height: 240px;
    font-size: 35px;
    margin: 15px;
    background-color: rgba(137, 137, 137, 0.2);
    box-shadow: 5px 10px 10px 2px rgba(0,0,0,0.2);
    vertical-align: middle;
}


.footer-library {
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    margin: 3px;
    color: grey;
    vertical-align: middle;
}



/*These are the pictures in the card box at the bottom of page*/
.footer-library img {
    width: 100px;
    height: 131px;
    border: solid;
    border-width: 2px;
    border-color: #464646;
    box-shadow: 5px 10px 10px 2px #1f1f1f;
    border-radius: 10px;
}

/*PICS Mouse over FX*/

.footer-library img:hover {
    width: 150px;
    height: 197px;
    border: solid;
    border-width: 2px;
    border-color: rgba(156, 164, 163, 0.8);
    box-shadow: 0px 0px 10px 5px rgba(156, 164, 163, 0.8);
    border-radius: 10px;
}



/*This is the whole footer (background)*/
#footer {
    background-color: #393939;
    border-top: solid;
    border-width: 10px;
    border-color: #464646;
    height: auto;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* Footer Mouse over FX*/
#footer:hover {
    background-color: #393939;
    border-top: solid;
    border-width: 10px;
    border-color: #464646;
    height: 240px;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 210px;
}

