body {
    background-color: #525151;
    background-image: url("/static/images/large_logo_transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    text-align: center;
}

/*-----------------------------------------------------------NAVIGATION BAR-------------------------------------------*/

h1 {
    padding: 10px 30px;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 6px 12px #a7aba9, inset -1px -10px 5px #2a2a29, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 12px #a7aba9, inset -1px -10px 5px #2a2a29, 1px 2px 1px black;
    box-shadow: inset 1px 6px 12px #a7aba9, inset -1px -10px 5px #2a2a29, 1px 2px 1px black;
    background-color: #2a2a29;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

#start-button {
    float: left;
    margin: 10px;
    padding: 5px 30px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen, 1px 2px 1px black;
    background-color: green;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#retry-button {
    float: left;
    margin: 10px;
    padding: 5px 30px;
    border: 1px solid #040064;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 6px 12px #687bee, inset -1px -10px 5px #1e0c64, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 12px #687bee, inset -1px -10px 5px #1e0c64, 1px 2px 1px black;
    box-shadow: inset 1px 6px 12px #687bee, inset -1px -10px 5px #1e0c64, 1px 2px 1px black;
    background-color: #1e0c64;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 1px black;
}


/*--------------------------------------------------------GAME BOARD--------------------------------------------------*/

/*These are the images in the slots*/

.game-library img {
    border-radius: 8px;
    width: 176px;
    height: 236px;

}

/*These are the slots on the game board*/

.game-library {
    cursor: pointer;
    border: 2px solid #464646;
    border-radius: 10px;
    display: inline-block;
    width: 180px;
    height: 240px;
    font-size: 35px;
    margin: 15px;
    background-color: rgba(137, 137, 137, 0.2);
    box-shadow: 5px 10px 10px 2px rgba(0,0,0,0.2);
    vertical-align: middle;
}

/*Picture's FX during drag & drop*/

.gu-mirror {
    animation: shake 0.75s;
    animation-iteration-count: infinite;
    border: solid;
    border-width: 2px;
    border-color: rgba(156, 164, 163, 0.8);
    box-shadow: 0px 0px 20px 10px rgba(156, 164, 163, 0.8);
    border-radius: 10px;
}

/*---------------------------------------------------------FOOTER PICS------------------------------------------------*/

/*FOOTER PICS*/
.footer-library img {
    width: 100px;
    height: 131px;
    border: solid;
    border-width: 2px;
    border-color: #464646;
    box-shadow: 5px 10px 10px 2px #1f1f1f;
    border-radius: 10px;
}

/*FOOTER PICS Mouse over FX*/

.footer-library img:hover {
    width: 150px;
    height: 197px;
    border: solid;
    border-width: 2px;
    border-color: rgba(156, 164, 163, 0.8);
    box-shadow: 0px 0px 10px 5px rgba(156, 164, 163, 0.8);
    border-radius: 10px;
}

/*FOOTER PICS FLIP*/

/* The flip box container - set the width and height to whatever you want.
We have added the border property to demonstrate that
the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*------------------------------------------------------FOOTER--------------------------------------------------------*/

.footer-library {
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    margin: 3px;
    color: grey;
    vertical-align: middle;

}


/*This is the whole footer (background)*/
#footer {
    background-color: #393939;
    border-top: solid;
    border-width: 10px;
    border-color: #464646;
    height: auto;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* Footer Mouse over FX*/
#footer:hover {
    background-color: #393939;
    border-top: solid;
    border-width: 10px;
    border-color: #464646;
    height: 240px;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 210px;
}
/*---------------------------------------------SPECIAL FX------------------------------------------------------------*/
@keyframes shake {
    0% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    10% {
        transform: translate(-2px, -3px) rotate(-1deg);
    }
    20% {
        transform: translate(-4px, 1px) rotate(1deg);
    }
    30% {
        transform: translate(4px, 3px) rotate(0deg);
    }
    40% {
        transform: translate(2px, -2px) rotate(1deg);
    }
    50% {
        transform: translate(-2px, 3px) rotate(-1deg);
    }
    60% {
        transform: translate(-4px, 2px) rotate(0deg);
    }
    70% {
        transform: translate(4px, 2px) rotate(-1deg);
    }
    80% {
        transform: translate(-2px, -2px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 3px) rotate(0deg);
    }
    100% {
        transform: translate(2px, -3px) rotate(-1deg);
    }
}
