body {
    background-color: #525151;
    background-image: url("/static/images/large_logo_transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

.game-library {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 130px;
    height: 160px;
    font-size: 35px;
    text-align: center;
    margin: 3px;
    color: grey;
    vertical-align: middle;
}


.footer-library {
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    margin: 3px;
    color: grey;
    vertical-align: middle;
}

.footer-library img {
    width: 100px;
    height: 131px;
    border: solid;
    border-width: 1px;
    border-color: #464646;
    box-shadow: 5px 10px 10px 2px #1f1f1f;
    border-radius: 10px;
}

#footer {
    background-color: #393939;
    border: solid;
    border-radius: 10px;
    height: 300px;
}
