.game-library {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 130px;
    height: 160px;
    font-size: 35px;
    text-align: center;
    margin: 3px;
    color: grey;
    vertical-align: middle;
}


.footer-library {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 65px;
    height: 80px;
    font-size: 35px;
    text-align: center;
    margin: 3px;
    color: grey;
    vertical-align: middle;
}


.footer-library img {
    width: 65px;
    height: 80px;
}


.game-library img {
    width: 130px;
    height: 160px;
}