{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/mentory.js') }}" defer></script>
{% endblock %}

{% block content %}

<div id="header">
    <button id="retry-button">Retry</button>
    <button id="start-button" type="button">Start</button>
    <button id="next-level" type="button">Next Level</button>
    <button id="check-solution" type="button">Check Solution</button>
    <h1>Mentory Game</h1>
    <p id="current_score"></p>
    <p id="score">Score: 0</p>
</div>

    <div id="game-field">
        {% for id in range(1, 13) %}
            <div id="game-field{{ id if id >= 10 else ('0' + id|string) }}" class="game-library"></div>
        {% endfor %}
    </div>

    <div id="footer">
        {% for id in range(1, 13) %}
            <div id="footer-field{{ id if id >= 10 else ('0' + id|string) }}" class="footer-library">
                <img id="img-{{ id if id >= 10 else ('0' + id|string) }}"
                     src="static/images/img_{{ id if id >= 10 else ('0' + id|string) }}.jpg">
            </div>
        {% endfor %}
    </div>

{% endblock %}